*{
  box-sizing: border-box;
  color: rgb(4, 4, 90);
  font-size: 14px;
}
body{
  background-color: gray;
  display: grid;
  place-content: center;
  height: 100vh;
}
.App{
  width: 80rem;
  height: 52rem;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.close{
  background-color: rgb(5, 5, 105);
  color: white;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30%;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  font-size: 24px;
}
.close:hover{
  cursor: pointer;
}
header{
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 1.94rem;
}
header>hr{
  width: 100%;
  margin-top: 0.75rem;
}
main{
  width: 80%;
  height: 64%;
  margin-bottom: 0.94rem;
  display: flex;
  justify-content: center;
  gap: 5rem;
}
footer{
  min-height: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.footerTitle{
  font-weight: 700;
  font-size: 1.25rem;
}
.footerButtons{
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: .75rem;
}
.footerButtons>*{
  padding: .75rem 0.75rem;
  border-radius: 10px;
}
.continue{
  background-color: rgb(4, 4, 90);
  color: white;
  width: 15rem;
  display: grid;
  place-content: center;
}
.cancel{
  background-color: white;
  color: rgb(201, 201, 3);
  border: 2px solid rgb(201, 201, 3);
  width: 8.4rem;
  display: grid;
  place-content: center;
}
.continue:hover, .cancel:hover{
  cursor: pointer;
}
