*{
  box-sizing: border-box;
  color: rgb(4, 4, 90)
}
body{
  background-color: gray;
  display: grid;
  place-content: center;
  height: 100vh;
}
.App{
  width: 70rem;
  height: 48rem;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.close{
  background-color: rgb(5, 5, 105);
  color: white;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30%;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
}
header{
  font-weight: 700;
  font-size: 32px;
  background-color: grey;
  margin-bottom: 1.94rem;
}
main{
  width: 80%;
  height: 64%;
  margin-bottom: 0.94rem;
  display: flex;
  justify-content: space-between;
}
.leftMain{
  width: 56%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  /* background-color: grey; */
}
.leftMain > *:not(hr){
  /* background-color: lightgrey; */
  width: 100%;
  min-height: 2.5rem;
  border: 2px solid black;
}
.importName{
  border-radius: 10px;
  border: 2px solid lightgray;
  background-color: white;
}

.toleranceContainer{
  display: flex;
}
.dataChecking{
  font-weight: 700;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.dataSubtitle{
  color: rgb(106, 105, 105);
}
hr{
  width: 50%;
  margin: 0;
  opacity: 0.3;
}
.rightMain{
  width: 36%;
  height: 100%;
  background-color: grey;
}
footer{
  height: 10%;
  width: 48.5%;
  background-color: grey;
}