*{
  box-sizing: border-box;
  color: rgb(5, 5, 105)
}
body{
  background-color: gray;
  display: grid;
  place-content: center;
  height: 100vh;
}
.App{
  width: 70rem;
  height: 48rem;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header{
  font-weight: 700;
  font-size: 32px;
  background-color: grey;
  margin-bottom: 1.94rem;
}
main{
  width: 80%;
  height: 64%;
  background-color: grey;
  margin-bottom: 0.94rem;
}
footer{
  height: 10%;
  width: 48.5%;
  background-color: grey;
}