.rightMain{
    width: 36%;
}
.topRight{
    height: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .bottomRight{
    height:50%;
  }
  .split, .location, .client{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .location{
    gap: 0.5rem;
  }
  .splitTitle, .location, .clientTitle{
    font-weight:700
  }
  .available{
    color: grey;
    margin-bottom: 0.25rem;
  }
  input:first-of-type{
    margin-left: 0;
  }
  .rightHr{
    width: 80%;
  }
  label:first-of-type{
    margin-right: 1rem;
  }
  .clientForm{
    width: 10.2rem;
    border: 1px solid lightgray;
    border-radius: 10px;;
    display: flex;
    justify-content: space-between;
    padding: 1.25rem 0.5rem 0.5rem 0.75rem;
  }
  .TC{
    font-size: 14px;
    margin-right: 1rem;
    align-self: flex-start;
    margin-top: 0.25rem;
  }
  .TCRows{
    display: flex;
    flex-direction: column;
    gap:1rem;
  }
  .TCRow{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
  }
  .arrow {
    width: 0;
    height: 0;
    border-left: 7px solid transparent; 
    border-right: 7px solid transparent; 
    border-top: 7px solid gray;
    align-self: center;
    margin-right: 5px;
    padding-bottom: 0.25rem;
  }